body {
  background-color: #fff;
}

h1 {
  text-align: center;
  text-decoration: underline;
  color: #00787F;
}

h2 {
  border: 3px double;
  border-radius: 5px 10px 5px 10px;
  box-shadow: 6px 6px 0px #00787F;
  color: #00787F;
}

h3 {

}

h2, h3, p {
  text-align: justify;
}
